.container {
  display: grid;
  grid-template: 1fr 3fr 1fr / repeat(12, 1fr);
  grid-template-areas:
  " h h h h h h h h h h h h"
  " n n c c c c c c c c c c"
  " n n f f f f f f f f f f";
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  grid-area: n;
  padding: 1rem;

}

.main {
  grid-area: c;

}

.header {
  grid-area: h;
}

.footer {
  grid-area: f
}
