.main_container {
  display: grid;
  grid-template: 80px 1fr 1fr / repeat(12, 1fr);
  grid-template-areas:
  " h h h h h h h h h h h h"
  " n n c c c c c c c c c c"
  " n n f f f f f f f f f f";
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  grid-area: n;
  padding: 1rem;
  border: 1px solid red;

}

.main {
  grid-area: c;
  min-height: 80vh;
  border: 1px solid green;

}

.header {
  text-align: center;
  font-size: 24px;
  padding: 12px;
  grid-area: h;
  border: 1px solid yellow;
}

.footer {
  grid-area: f;
  border: 1px solid purple;
}
